.fa-plus-circle:hover{
    filter:opacity(80%);
    cursor: pointer;
}
main{
    min-height:  64vh;
}
.table-cell {
    max-width: 150px;          
    white-space: normal;       
    word-break: break-word;   
    overflow-wrap: break-word;
  }
  