@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 800;
}

.navbar {
    color: $color21;
    font-family: $montserrat;
    font-family: $montserrat;
}
